{% extends 'base.html' %}
{% block header %}
{% block title %}Indoor Air Quality Monitor{% endblock %}
{% endblock %}

{% block buttons %}
    <div class="row">
        <div class="col-12 text-center">
            <button id="btn-update" class="btn btn-primary m-1">Refresh Page</button>
            <button id="btn-measure" class="btn btn-warning m-1">Measure Now</button>
        </div>
    </div>
{% endblock %}

{% block chartscript %}
    <script>
        $.getJSON('/api/', function(data) {
            var ctx = document.getElementById('chart').getContext('2d');
            var historicalChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.historical.labels,
                    datasets: [data.historical.aqi, data.historical.pm10, data.historical.pm2]
                },
                options: chartOptions(data.historical.labels, 3),
            });
        });

        const pageRefresh = async () => {
            window.location.reload();
        }

        const measureNow = async () => {
            console.log("Measure Now button clicked.");
            const response = await fetch("/api/now?save=1");
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            const result = await response.json();
            console.log("measuring response...", result);
        }

        $("#btn-update").on("click", pageRefresh);
        $("#btn-measure").on("click", measureNow);
        </script>
{% endblock %}
