{% extends 'base.html' %}
{% block header %}
{% block title %}Outdoor Air Quality Tracker{% endblock %}
{% endblock %}

{% block chartscript %}
    <script>
        $.getJSON('/api/', function(data) {
            var outctx = document.getElementById('chart').getContext('2d');
            var outsideChart = new Chart(outctx, {
                type: 'line',
                data: {
                    labels: data.outside.labels,
                    datasets: [data.outside.aqi, data.outside.pm10, data.outside.pm2]
                },
                options: chartOptions(data.outside.labels, 3),
            });
        });
        </script>
{% endblock %}
